/* -----------------------------------------
	08. Widgets Styling
----------------------------------------- */
.widget {
	margin: 0 0 $widget-margin-lg;
	font-size: 15px;
	line-height: 1.466666667;

	@include media-breakpoint-down(md) {
		margin-bottom: $widget-margin-md;
	}

	@include media-breakpoint-down(sm) {
		margin-bottom: $widget-margin-sm;
	}

	/* Nullify bottom margin for last elements in widgets and sidebars */
	.sidebar & {
		&:last-child {
			margin-bottom: 0;
		}
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	select {
		width: 100%;
	}
}

.widget-title {
	font-size: 18px;
	padding-bottom: 12px;
	margin-bottom: 25px;
	border-bottom: 2px solid $border-color;
	font-weight: 400;
	color: $accent-secondary;

	.footer & {
		color: currentColor;
		border-color: $color-on-secondary;
	}

	label {
		text-transform: none;
		display: block;
		font-size: inherit;
		margin: 0;
		line-height: inherit;
		font-weight: inherit;
	}
}

/* WIDGET: Theme - Contact Widget
========================================= */
.ci-contact-widget-title {
	font-weight: 600;
	font-size: 16px;
	margin: 0 0 15px;
}

.ci-contact-widget-items {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.ci-contact-widget-item {
	display: flex;
	align-items: baseline;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid $border-color;

	.footer & {
		border-color: $color-on-secondary;
	}

	&:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: 0;
	}

	i {
		text-align: center;
		min-width: 26px;
		margin-right: 5px;

		.footer & {
			color: $color-on-secondary;
		}
	}
}

/* WIDGET: Theme - Opening Hours
========================================= */
.ci-schedule-widget-intro {
	margin-bottom: 20px;
}

.ci-schedule-widget-table {
	text-align: left;

	th, td {
		padding: 10px 0;
	}

	tr {
		border-bottom: 1px solid $border-color;

		.footer & {
			border-color: $bg-on-secondary;
		}
	}
}

/* WIDGET: Theme - Callout
========================================= */
.ci-box-callout {
	padding: 25px;
	border: 2px solid $border-color;
	border-radius: 3px;

	.footer & {
		border: 0;
		background-color: $bg-on-secondary;
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.ci-box-callout-title {
	display: block;
	margin-bottom: 10px;
	color: $accent-secondary;

	.footer & {
		color: currentColor;
	}
}

/* WIDGET: Theme - Data Widgets
========================================= */
.widget-crypto {
	position: relative;

	&::before {
		@include spinner($color: $accent-color);
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -20px;
	}

	&.loaded {
		&::before {
			display: none;
		}
	}
}

.widget-crypto-placeholder {
	opacity: 0;
	transition: opacity .35s ease;

	.loaded & {
		opacity: 1;
	}
}

.data-item-wrap {
	border-bottom: 1px solid $border-color;

	.footer & {
		border-color: $color-on-secondary;
	}
}

.data-item-row {
	display: flex;
}

.data-item-list {
	.data-item {
		margin-bottom: 0;
	}

	.data-item-row {
		border-bottom: 1px solid $border-color;
		margin-bottom: 10px;
		padding-bottom: 10px;

		.footer & {
			border-color: $color-on-secondary;
		}

		&:last-child {
			border-bottom: 0;
			margin: 0;
		}
	}
}

.data-item-right {
	margin-left: auto;
	text-align: right;
}

.data-item {
	margin-bottom: 23px;
	display: block;
	line-height: normal;
}

.data-item-eyebrow {
	display: block;
	font-size: 15px;
	margin-bottom: 4px;

	.footer & {
		color: $color-on-secondary;
	}
}

.data-item-value {
	font-weight: 700;
	font-size: 22px;
	color: $text-color-dark;

	.footer & {
		color: currentColor;
	}
}

.text-success {
	color: $green !important;
}

.text-danger {
	color: $red !important;
}

.symbol-asc,
.symbol-desc {
	&::after {
		display: inline-block;
		position: relative;
		margin-left: 4px;
		content: "";
		border: 3px solid transparent;
		transform: translateY(-100%);
	}
}

.symbol-asc {
	&::after {
		top: -2px;
		border-bottom-color: $green;
	}
}

.symbol-desc {
	&::after {
		border-top-color: $red;
	}
}

.data-last-updated {
	margin-top: 25px;
	font-size: 12px;
}

/* WIDGET: Hero Homepage Widget
========================================= */
.widget-section-hero {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

	&.widget-section-hero-right {
		align-items: flex-end;
		text-align: right;
	}

	&.widget-section-hero-left {
		align-items: flex-start;
		text-align: left;
	}

	.section-heading {
		text-align: inherit;
	}

	.section-title {
		font-size: 42px;
		margin-bottom: 10px;
		color: currentColor;

		@include media-breakpoint-down(sm) {
			font-size: 28px;
		}
	}

	.section-subtitle {
		max-width: 600px;
		color: currentColor;
	}

	.btn {
		color: currentColor;
	}
}

/* WIDGET: Brand Logos
========================================= */
.list-brand-logos {
	text-align: center;
}

.brand-logo {
	display: inline-block;
	margin: 15px 20px;
	max-width: 200px;
}

/* WIDGET: List Widgets
========================================= */
// sass-lint:disable class-name-format
.widget_meta,
.widget_pages,
.widget_categories,
.widget_archive,
.widget_product_categories,
.widget_layered_nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		ul {
			margin-left: 15px;
		}
	}

	li {
		line-height: normal;
		display: block;
		position: relative;

		a {
			display: block;
			color: $text-color;
			border-bottom: 1px solid $border-color;
			margin-bottom: 7px;
			padding-bottom: 7px;
			position: relative;

			.footer & {
				color: currentColor;
				border-color: $color-on-secondary;
			}

			&:hover {
				border-color: $accent-color;
			}
		}

		.count,
		.ci-count {
			position: absolute;
			right: 0;
			top: 0;
			font-size: .9em;
		}
	}
}

.widget_nav_menu {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		ul {
			margin-left: 15px;
		}
	}

	> div {
		> ul {
			> li {
				&:first-child {
					> a {
						border-top-left-radius: 3px;
						border-top-right-radius: 3px;
					}
				}

				&:last-child {
					> a {
						border-bottom-left-radius: 3px;
						border-bottom-right-radius: 3px;
					}
				}
			}
		}
	}

	li {
		display: block;
	}

	a {
		display: flex;
		align-items: center;
		padding: 15px;
		line-height:  normal;
		background-color: $accent-secondary;
		color: $text-on-accent;
		margin-bottom: 1px;
		font-size: 15px;

		.footer & {
			background-color: $bg-on-secondary;
		}

		&:hover {
			background-color: $accent-color;
			color: $text-on-accent;
		}
	}

	.current-menu-item {
		> a {
			background-color: $accent-color;
			color: $text-on-accent;
		}
	}

	.fa {
		min-width: 20px;
		margin-right: 3px;
		flex: none;
		line-height: 1;
		font-size: 14px;
	}
}

.widget_recent_comments,
.widget_rss,
.widget_recent_entries {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: block;
		padding: 11px 0;
		border-bottom: 1px solid $border-color;

		.footer & {
			border-color: $color-on-secondary;
		}
	}
}

.widget_recent_entries {
	.post-date {
		display: block;
		font-size: 12px;
		text-transform: uppercase;
	}
}

.entry-tags a, // sass-lint:disable-line force-element-nesting
.tag-cloud-link {
	display: inline-block;
	padding: 4px 14px;
	font-size: 12px !important;
	border-radius: 20px;
	border: 1px solid $text-color;
	color: $text-color;
	margin-bottom: 3px;

	&:hover {
		border-color: $button-bg-color;
		background-color: $button-bg-color;
		color: $button-text-color;
	}
}
// sass-lint:enable class-name-format

/* WIDGET: #Search
========================================= */
.searchform {
	> div {
		position: relative;
	}

	input[type="text"],
	input[type="search"] {
		// Styling for the search input if required
	}

	.searchsubmit {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		border: 0;
		padding: 0 20px;
		background: none;
		color: inherit;
		border-radius: 0;
	}
}

/* WIDGET: #Text Widget
========================================= */
.widget_text { // sass-lint:disable-line class-name-format
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

/* WIDGET: #Calendar
================================================== */
#wp-calendar {
	width: 100%;

	a {
		font-weight: bold;
		font-style: italic;
	}

	caption {
		text-align: left;
		margin-top: 10px;
		background: none repeat scroll 0 0 rgba($black, .03);
		padding: 9px;
	}

	thead {
		font-size: 10px;

		th {
			background: rgba($black, .1);
			font-weight: bold;
			padding: 8px;
		}
	}

	tbody {
		td {
			background: none;
			border: 1px solid rgba($black, .1);
			text-align: center;
			padding: 3px;

			&:hover {
				background: rgba($black, .1);
			}
		}

		.pad {
			background: none;
		}
	}

	tfoot {
		#next {
			font-size: 10px;
			text-transform: uppercase;
			text-align: right;
		}

		#prev {
			font-size: 10px;
			text-transform: uppercase;
			padding-top: 10px;
		}
	}
}
