/*
Theme Name: Accurate Surveyors 2026
Template: blockchain
Description: Custom child theme for Accurate Surveying
Version: 1.0
*/

/* 
 * Main stylesheet is located at css/style.css
 * and is enqueued via functions.php
 */



